/sample.html
/vendor/animate.css
/vendor/anime
/vendor/cssmenu
/vendor/float-panel
/vendor/freebie-footer-templates
/vendor/intl-tel-input-master
/vendor/multiselect-master
/vendor/moveTo-master
/vendor/typeit
/vendor/WOW